body {
    margin: 0;
    font-family: Arial, sans-serif,
    Helvetica, Monospace, Lucida, Helvetica;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}